<article>
  <div class="row">
  <div class="col-4 col-sm-4 col-md-4">
      <div class="clearfix">
          <% if @account_manager %>
            <%= render partial: 'small_card', object: @account_manager %>
          <% else %>
            <%= render partial: 'users/small_card_template' %>
          <% end %>
      </div>
  </div>
  <div class="col-8 col-sm-8 col-md-8">
        <div class="clearfix">
              <%= form_tag("/messages/send_email_message", method: "post", url: send_email_message_path) do %>
                <% hidden_field_tag :user_id, "#{current_user.id}" %>
                <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>

                <div class="form-group">
                  <%= label_tag 'recipients', 'Choose recipients' %>
                  <%= select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, class: 'form-control chosen-it' %>
                </div>

                <div class="form-group">
                  <%= label_tag 'message[subject]', 'Subject' %>
                  <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
                </div>

                <div class="form-group">
                  <%= label_tag 'message[body]', 'Message' %>
                  <%= text_area_tag 'message[body]' %>
                </div>

                <%= submit_tag 'Send', class: 'btn btn-block btn-primary' %>
              <% end %>
        </div>
    </div>
  </div>
</article>

<script src="<%= asset_path('chosen.jquery.js') %>"></script>
