<section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" style="position: relative; height: 800px;" data-options="{  mode_scroll: 'normal' }">
    <div class="divimage dzsparallaxer--target " data-src="<%= image_url('bg2a.jpg') %>" style="width: 100%; height: 100%; background-image: url('<%= image_url('bg2a.jpg') %>'); background-size: cover;">
        <div class="hero-parallax">
            <div class="hero-inner">
                <div class="hero-content">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="hero-static">
                                    <h1>ABOUT US</h1>
                                    <p class="lead">
                                        CardinalHire is where top tech talent meets top tech companies.
                                    </p>
                                    <div class="buttons">
                                      <%= link_to "See Careers", welcome_careers_path(@careers, anchor: "careers-list"), class: "btn btn-xl btn-outline-primary" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--container-->
                </div><!--hero content-->
            </div><!--hero inner-->

        </div><!--parallax hero-->
    </div><!--parallax image div-->
</section>
<!--intro section end-->

<section class="features-section border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 margin-b-30">
                <div class="feature-box-center text-center">
                    <i class="fa fa-mobile fa-3x fa-fw"></i>
                    <h4 class="text-capitalize">Full service recruiting and staffing solutions</h4>
                    <p>
                      We provide the full range of direct hire, freelance, contract, and contract-to-hire (CTH) candidates.</p>
                </div>
            </div><!--/col-->
            <div class="col-sm-6 col-md-6 margin-b-30">
                <div class="feature-box-center text-center">
                    <i class="fa fa-briefcase fa-3x fa-fw"></i>
                    <h4 class="text-capitalize">Outreach campaigns</h4>
                    <p>
                        Our team makes dedicated outreach efforts on behalf of our clients across email, social media, print and more!
                    </p>
                </div>
            </div><!--/col-->
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 margin-b-30">
              <div class="feature-box-center text-center">
                  <i class="fa fa-users fa-3x fa-fw"></i>
                  <h4 class="text-capitalize">Job fairs and company events</h4>
                  <p>
                    We give hiring managers and senior staff members the opportunity to mix and mingle with prospective new hires.</p>
              </div>
          </div><!--/col-->
          <div class="col-sm-6 col-md-6 margin-b-30">
              <div class="feature-box-center text-center">
                  <i class="fa fa-clock-o fa-3x fa-fw"></i>
                  <h4 class="text-capitalize">Leverage your time better</h4>
                  <p>
                    It's your career. It's our mission to help you advance it.</p>
              </div>
          </div><!--/col-->
        </div>
    </div>
</section><!--end features section-->

<section class="showcase-section">
    <div class="container">
        <div class="row vertical-align-child">
            <div class="col-md-5 margin-b-30">
                <h3>
                  CardinalHire's team of talented recruiters works hard to bring you the best leads and career opportunities.
                </h3>
            </div>
            <div class="col-md-6 col-md-offset-1 margin-b-30">
                <img src="<%= image_path('shot1.png') %>" alt="" class="img-responsive center-img">
            </div>
        </div>
    </div>
</section><!--end showcase section-->

<section class="showcase-section">
<div class="cta-skin">
    <div class="container text-center">
        <h2>Are you interested in pursuing a new path?</h2>
        <p>Join us to be featured on CardinalHire. Browse our open career opportunities or submit your resume now for general consideration.</p>
        <%= link_to "Join now for free", welcome_new_talent_path, class: "btn btn-xl btn-white-border" %>
        <%= link_to "See Careers", welcome_careers_path, class: "btn btn-xl btn-info" %>
    </div>
</div>
</section>

  <div class="row vertical-align-child margin-b-50">
    <div class="row imagetiles">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <img src="<%= image_path('img6.jpg') %>" alt="" class="">
        </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="<%= image_path('img7.jpg') %>" alt="" class="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="<%= image_path('img8.jpg') %>" alt="" class="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="<%= image_path('img9.jpg') %>" alt="" class="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="<%= image_path('img10.jpg') %>" alt="" class="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="<%= image_path('img27.jpg') %>" alt="" class="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="<%= image_path('img28.jpg') %>" alt="" class="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="<%= image_path('img29.jpg') %>" alt="" class="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="<%= image_path('img30.jpg') %>" alt="" class="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="<%= image_path('img31.png') %>" alt="" class="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="<%= image_path('img32.jpg') %>" alt="" class="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="<%= image_path('img16.jpg') %>" alt="" class="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="<%= image_path('img17.jpg') %>" alt="" class="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="<%= image_path('img18.jpg') %>" alt="" class="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="<%= image_path('img20.jpg') %>" alt="" class="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <img src="<%= image_path('img26.jpg') %>" alt="" class="">
          </div>
    </div>
  </div>

<section class="showcase-section">
  <div class="row vertical-align-child margin-b-50">
    <div class="col-md-4">
      <h3>
          RECRUITING STRATEGIES & TECHNICAL TALENT
      </h3>
      <p>
        CardinalHire is where top tech talent meets top tech companies.  We have placed over 300 software engineers, designers, product managers, and sales people at some of the Bay Area's top startups and largest companies.
      </p>
      <h3>
        Employers
      </h3>
      <p>
        For Employers, CardinalHire allows you to leverage your time as well as your cost. Scale your network up and connect with top recruiters to gather top tech talent from recruiter networks. Leverage the power of our professional recruiting networks and experience to fulfill your staffing needs.
      </p>
      <h3>
        Job Seekers
      </h3>
      <p>
        For Job Seekers, CardinalHire works hard to get you in front of hiring managers faster as well as uncover the jobs you do not know about at top Tech and Start up companies. For Qualified Software Engineers, Cardinalhire can book appointments directly with the hiring manager and get you started at working on solving interesting problems at some of the best start-ups.
      </p>
    </div>
  </div>
</section>

<div class="row vertical-align-child margin-b-50">
  <div class="row imagetiles">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="<%= image_path('img1.jpg') %>" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="<%= image_path('img2.jpg') %>" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="<%= image_path('img21.jpg') %>" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="<%= image_path('img4.jpg') %>" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="<%= image_path('img5.jpg') %>" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="<%= image_path('img3.jpg') %>" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="<%= image_path('img22.jpg') %>" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="<%= image_path('img23.jpg') %>" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="<%= image_path('img24.jpg') %>" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="<%= image_path('img25.jpg') %>" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="<%= image_path('img12.jpg') %>" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="<%= image_path('img13.jpg') %>" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="<%= image_path('img14.jpg') %>" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="<%= image_path('img15.jpg') %>" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="<%= image_path('img19.jpg') %>" alt="" class="">
      </div>
  </div>
</div>

<section class="showcase-section">
  <div class="cta-skin">
    <div class="container text-center">
        <h2>Join now for free.</h2>
        <p>Access the <b>world's largest</b> database of top candiates from Google, Stanford, Facebook, MIT and more available now for interviews!</p>
        <%= link_to "Join now for free", welcome_new_employer_path, class: "btn btn-xl btn-white-border" %>
    </div>
  </div>
</section>
