    <section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" style="position: relative; height: 800px;" data-options="{  mode_scroll: 'normal' }">
        <div class="divimage dzsparallaxer--target " data-src="<%= image_url('bg1a.jpg') %>" style="width: 100%; height: 100%; background-image: url('<%= image_url('bg1a.jpg') %>'); background-size: cover">
            <div class="hero-parallax">
                <div class="hero-inner">
                    <div class="hero-content">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="hero-static">
                                      <img src="<%= image_path("Asset 1.png") %>" alt="" class="double-size">
                                        <h1>CardinalHire</h1>
                                        <p class="lead">
                                            Hire a top 1% SF Bay Area software engineer in one week!
                                        </p>
                                        <div class="buttons main">
                                          <%= link_to "Get started now", welcome_new_employer_path, class: "btn btn-xl btn-primary" %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--container-->
                    </div><!--hero content-->
                </div><!--hero inner-->

            </div><!--parallax hero-->
        </div><!--parallax image div-->
    </section>
    <!--intro section end-->

    <section class="steps">
        <div class="space-90"></div>
        <div class="container">
            <div class="center-title">
              <h1>Our competitive advantage</h1>
            </div>
            <div class="row">
                <div class="col-sm-4 margin-b-30">
                    <div class="step-box">
                        <h2>We have a proprietary database of 10,000s of top 5% <b>active</b> software engineering candidates and 10,000,000+ passive candidates.</h2>
                    </div>
                </div>
                <div class="col-sm-4 margin-b-30">
                    <div class="step-box">
                        <h2>We have hundreds of recruiters and sourcers and we use their networks to determine which top software engineering candidates are active at any given time.</h2>
                    </div>
                </div>
                <div class="col-sm-4 margin-b-30">
                    <div class="step-box">
                        <h2>We have dedicated account managers with backgrounds from Stanford, UC Berkeley, and other world-class universities.</h2>
                    </div>
                </div>
            </div>
            <div class="row">
              <img src="<%= image_path('shot3.png') %>" alt="" class="img-responsive center-img">
            </div>
        </div>
        <div class="space-60"></div>
    </section>

    <section class="steps">
        <div class="space-90"></div>
        <div class="container">
            <div class="center-title">
              <h1>How it works</h1>
            </div>
            <div class="row">
                <div class="col-sm-4 margin-b-30">
                    <div class="step-box">
                        <h1>01</h1>
                        <h2>Register for CardinalHire, give us your top priority job descriptions, and select whether you are interested in Top 1%, Top 5%, or Top 10% candidates.</h2>
                    </div>
                </div>
                <div class="col-sm-4 margin-b-30">
                    <div class="step-box">
                        <h1>02</h1>
                        <h2>Book a one-hour kick-off meeting</h2>
                    </div>
                </div>
                <div class="col-sm-4 margin-b-30">
                    <div class="step-box">
                        <h1>03</h1>
                        <h2>During the one-hour kick-off meeting we will review 50-100 candidate profiles with you.</h2>
                          <p>You will most likely be interested in doing phone screens with 25 of them.  Of those, you will most likely be interested in doing onsites with 5-10 of them.  Of those, you will most likely hire at least one of them.</p>
                    </div>
                </div>
            </div>
            <div class="row">
              <img src="<%= image_path('shot3.png') %>" alt="" class="img-responsive center-img">
            </div>
        </div>
        <div class="space-60"></div>
    </section>

    <div class="cta-skin">
        <div class="container text-center">
            <h2>Pricing</h2>
            <p>You only pay if you hire the candidate and we offer a 90 day guarantee.</p>
            <%= link_to "Join now for free", welcome_new_talent_path, class: "btn btn-xl btn-primary" %>
        </div>
    </div>

    <section class="steps">
        <div class="space-90"></div>
        <div class="container">
            <div class="center-title">
              <h1>How we define top 1%, top 5%, and top 10%</h1>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="step-box">
                        <h1>01</h1>
                        <h2>Top 1% Companies</h2>
                        <h4>Palantir, Facebook, Stripe, Airbnb, Pinterest, Coursera, Dropbox, etc.</h4>
                        <h2>Top 1% Schools</h2>
                        <h4>Stanford, MIT, Harvard, Princeton, Brown, Yale, Dartmouth, etc.</h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="step-box">
                        <h1>05</h1>
                        <h2>Top 5% Companies</h2>
                        <h4>Google, Wealthfront, Twitter, Cloudera, Github, Quora, Addepar, Netflix, Affirm, Tesla, etc.</h4>
                        <h2>Top 5% Schools</h2>
                        <h4>UC Berkeley, Carnegie Mellon, Georgia Tech, Cal Tech, etc.</h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="step-box">
                        <h1>10</h1>
                        <h2>Top 10% Companies</h2>
                        <h4>LinkedIn, Amazon, Adobe, Uber, Apple, etc.</h4>
                        <h2>Top 10% Schools</h2>
                        <h4>UCLA, UCSD, etc.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-60"></div>
    </section>

    <div class="cta-skin">
        <div class="container text-center">
            <h2>Our results</h2>
            <p>We have placed over 300 software engineers at world-class startups in the San Francisco Bay Area!</p>
            <%= link_to "Join now for free", welcome_new_employer_path, class: "btn btn-xl btn-primary" %>
        </div>
    </div>
