<section id="home" class="auto-init use-loading">
    <div class="divimage" style="width: 100%; height: 100%; background: white; background-size: cover;">
        <div class="hero-parallax">
            <div class="hero-inner">
                <div class="hero-content">
                    <div class="container text-center">
                        <div class="row align-items-center">
                            <div class="col-sm-10 col-sm-offset-1">
                              <div class="space-40"></div>
                              <div class="space-40"></div>
                                <div class="row vertical-align-child">
                                  <h1 style="color: black; text-align: center;"><b>Get paid $100/hr to interview with the world's best startups!*</b></h1>
                                </div>
                              <div class="buttons main" style="padding: 1em 0.5em;">
                                  <%= link_to "Get started now!", welcome_new_talent_path, class: "btn btn-focus-alt btn-outline-danger" %>
                              </div>
                                <div class="row vertical-align-child" style="padding: 1em; margin: 1em;">
                                  <div class="row imagetiles">
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                      <img src="<%= image_path('anaplan.svg') %>" style="padding: 0.5em; object-fit: contain; max-height: 125px; width: auto; padding: 0.1em;">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                      <img src="<%= image_path('limebike.png') %>" style="padding: 0.5em; object-fit: contain; max-height: 125px; width: auto; padding: 0.1em;">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                      <img src="<%= image_path('dremio.png') %>" style="padding: 0.5em; object-fit: contain; max-height: 125px; width: auto; padding: 0.1em;">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                      <img src="<%= image_path('standard_cognition.jpg') %>" style="padding: 0.5em; object-fit: contain; max-height: 125px; width: auto; padding: 0.1em;">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                      <img src="<%= image_path('harness.png') %>" style="padding: 0.5em; object-fit: contain; max-height: 125px; width: auto; padding: 0.1em;">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                      <img src="<%= image_path('adaptive_management.png') %>" style="padding: 0.5em; object-fit: contain; max-height: 125px; width: auto; padding: 0.1em;">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                      <img src="<%= image_path('groupon.png') %>" style="padding: 0.5em; object-fit: contain; max-height: 125px; width: auto; padding: 0.1em;">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                      <img src="<%= image_path('alice.jpg') %>" style="padding: 0.5em; object-fit: contain; max-height: 125px; width: auto; padding: 0.1em;">
                                    </div>
                                  </div>
                                </div>
                              </div><!--column-->
                          </div><!--row-->
                    </div><!--container-->
                </div><!--hero content-->
            </div><!--hero inner-->
        </div><!--parallax hero-->
    </div><!--parallax image div-->
</section><!--intro section end-->
<div class="space-40"></div>
<section>
    <div class="container text-center">
        <div class="row vertical-align-child margin-b-50" style="padding: 1em; margin: 1em;">
            <div class="row imagetiles">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="<%= image_path('amazon.jpg') %>" style="object-fit: contain; max-height: 150px; width: auto; margin: 0.1em;">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="<%= image_path('itunes.png') %>" style="object-fit: contain; max-height: 150px; width: auto; margin: 0.1em;">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="<%= image_path('airbnb.jpg') %>" style="object-fit: contain; max-height: 150px; width: auto; margin: 0.1em;">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="<%= image_path('macys.png') %>" style="object-fit: contain; max-height: 150px; width: auto; margin: 0.1em;">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="<%= image_path('target.png') %>" style="object-fit: contain; max-height: 150px; width: auto; margin: 0.1em;">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="<%= image_path('ebay.jpg') %>" style="object-fit: contain; max-height: 150px; width: auto; margin: 0.1em;">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="<%= image_path('nordstrom.jpg') %>" style="object-fit: contain; max-height: 150px; width: auto; margin: 0.1em;">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="<%= image_path('chilis.png') %>" style="object-fit: contain; max-height: 150px; width: auto; margin: 0.1em;">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="<%= image_path('gap.png') %>" style="object-fit: contain; max-height: 150px; width: auto; margin: 0.1em;">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="<%= image_path('safeway.jpg') %>" style="object-fit: contain; max-height: 150px; width: auto; margin: 0.1em;">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="<%= image_path('overstock.jpg') %>" style="object-fit: contain; max-height: 150px; width: auto; margin: 0.1em;">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img src="<%= image_path('kohls.jpg') %>" style="object-fit: contain; max-height: 150px; width: auto; margin: 0.1em;">
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="small" style="padding: 1em;">
                  *Maximum of $250. Payment is rewarded in available gift cards.  Depicted gift cards are current examples.  Phone interviews with companies are either 30 minutes or 1 hour.  Only the first technical phone interview with each company counts.  You must apply to CardinalHire, be accepted for an interview, and complete the company interview in order to receive the gift card. Must apply through CardinalHire.com website in order to be eligible.
                </p>
              </div>
            </div>
        </div>
    </div>
</section>
