<div class="collapseOne" id="collapseOne">
    <div style="margin: 2em; font-size: 0.5em;">
        <div class="row" style="text-align: left;">
            <div class="form">
            <%= simple_form_for @search do |f| %>
            <%= f.submit "Search", class: "btn btn-block btn-primary" %>
            <%= button_tag t('buttons.cancel'), type: "submit", name: "cancel", value: true, class: "btn btn-block btn-outline inputsubmit"%>
              <div class="row">
                <div class="col-6 col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <%= f.input :keyword, label: "Skills, Keywords, Titles", class: "input-sm", placeholder: "E.g. \"Java\"", label_html: { class: 'emphasis-label' } %>
                  <%= f.input :locations, label: 'Location', class: "input-sm", placeholder: "E.g. \"San Francisco\"", label_html: { class: 'emphasis-label' } %>
                  <%= f.input :schools, label: 'School', class: "input-sm", placeholder: "E.g. \"University of Chicago\"", label_html: { class: 'emphasis-label' } %>
                </div>
                <div class="col-6 col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <%= f.input :disciplines, label: 'Discipline/Degree', class: "input-sm", placeholder: "E.g. \"Computer Science\"", label_html: { class: 'emphasis-label' } %>
                  <%= f.input :names, label: 'Name', class: "input-sm", placeholder: "E.g. \"Joe Engineer\"", label_html: { class: 'emphasis-label' } %>
                  <%= f.input :experience_years, label: 'Experience (Years)', placeholder: "E.g. \"1\"", class: "input-sm", input_html: { min: '0', step: 'any' }, label_html: { class: 'emphasis-label' } %>
                </div>
              </div>
              <div class="row">
                <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <%= f.input :job_type_full_time, label: 'Full time candidates', as: :boolean, class: "input-sm", label_html: { class: 'emphasis-label' } %>
                  <%= f.input :job_type_contract, label: 'Contract candidates', as: :boolean, class: "input-sm", label_html: { class: 'emphasis-label' } %>
                </div>
                <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <%= f.input :relocation, label: 'Willing to relocate', as: :boolean, class: "input-sm", label_html: { class: 'emphasis-label' } %>
                  <%= f.input :remote, label: 'Looking for remote work', as: :boolean, class: "input-sm", label_html: { class: 'emphasis-label' } %>
                </div>
              </div>
                  <%= f.submit "Search", class: "btn btn-block btn-primary" %>
              <% end %>
            </div>
        </div>
    </div>
</div>
