<ul class="nav navbar-nav navbar-right flexbox-container">
  <li><%= link_to "Login", new_user_session_path %></li>
  <li><%= link_to "Job Seekers", welcome_new_talent_path %></li>
  <li><%= link_to "Employers", welcome_lev1_path %></li>
  <li class="dropdown show">
    <a style="text-transform: capitalize;" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li class="dropdown-item"><%= link_to 'Company', welcome_about_path %></li>
      <li class="dropdown-item"><%= link_to 'Contact Us', welcome_contact_path %></li>
      <li class="dropdown-item"><%= link_to 'Events', welcome_events_path %></li>
      <li class="dropdown-item"><%= link_to "Careers", welcome_careers_path %></li>
    </ul>
  </li>
</ul>
