<ul class="nav navbar-nav navbar-right flexbox-container" style="margin-right: 1em;">
  <li><%= link_to 'About', welcome_about_path %></li>
  <li><%= link_to "Employers", welcome_employer_path %></li>
  <li><%= link_to "Job Seekers", welcome_new_talent_path %></li>
  <li><%= link_to "Contractors", welcome_new_talent_path %></li>
  <li><%= link_to "Training", welcome_new_talent_path %></li>
  <li>
      <%= link_to "Login", new_user_session_path, class: 'btn btn-secondary' %>
  </li>
  <li>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
  </li>
</ul>
