  <li style="align-content: center; align-self: flex-start; height: 50px;">
      <%= link_to 'About', welcome_about_path, class: 'btn' %>
  </li>
  <li style="align-content: center; align-self: flex-start; height: 50px;">
      <%= link_to "Employers", welcome_employer_path, class: 'btn' %>
  </li>
  <li style="align-content: center; align-self: flex-start; height: 50px;">
      <%= link_to "Job Seekers", welcome_getpaid_path, class: 'btn' %>
  </li>
  <li style="display: flex; align-items: center; justify-content: center; align-content: center; align-self: flex-start; height: 50px;">
      <%= link_to "Login", new_user_session_path, class: 'btn btn-primary', style: 'margin-left: 0.5em; margin-right: 0.5em; color: #fff; background-color: #003366; border-color: #003366; align-self: center; align-content: center;' %>
  </li>
  <li style="display: flex; align-items: center; justify-content: center; align-content: center; align-self: flex-start; height: 50px;">
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary', style: 'margin-left: 0.5em; margin-right: 0.5em; color: #fff; background-color: #CC0000; border-color: #CC0000; align-self: center; align-content: center;' %>
  </li>
