      <small style="margin-top: 1em;">
        <h6 style="text-align: right;">Account type: <%= current_user.signuprole.to_s %>
          <% if current_user.role != 'employer' %>
            <i class="fa fa-fw fa-lg fa-question-circle" style="font-size: 1.75em;" aria-hidden="true" data-placement="left" data-toggle="tooltip" data-html="true" title="Your guest account must be reviewed and approved by our recruiting team before you start performing searches on our active network of candidates and begin receiving targeted candidate submittals from our team."></i>
          <% end %>
        </h6>
      </small>

      <% if session[:alerted] == true %>
        <%= render :partial => 'layouts/alert_box_dismissable' %>
      <% end %>

      <% if session[:modal] == true %>
        <div id="my_modal_content"></div>
      <% end %>

      <div class="submittal-stage">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 0; bottom: 0;">
          <li role="presentation"><a href="#incoming-candidates" aria-controls="incoming-candidates" role="tab" data-toggle="tab">Incoming</a></li>
          <li role="presentation" class="active"><a href="#requested-candidates" aria-controls="requested-candidates" role="tab" data-toggle="tab">Requested</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="margin-top: 0; top: 0;">
          <div role="tabpanel" class="tab-pane" id="incoming-candidates">

            <div class="tab-pane" id="incoming-candidates">
              <div class="space-10"></div>
              <h3>Candidates just for you
              <small class="text-muted">
                <% if @candidate_submittals.any? %>
                  <%= pluralize(@candidate_submittals.count, 'candidate') %>
                <% else %>
                  <%= 'No incoming candidates at this time' %>
                <% end %>
              </small>
              </h3>
              <div class="space-10"></div>

              <div style="min-height: 400px;">
                <% if @candidate_submittals.any? %>
                  <% @candidate_submittals.each do |candidate| %>
                    <%= render :partial => 'follows/follow', locals: { person: Person.find(candidate.followable_id) } %>
                  <% end %>
                <% else %>

                <% end %>
              </div>
            </div>

          </div>

          <div role="tabpanel" class="tab-pane active" id="requested-candidates">

            <div class="tab-pane active" id="requested-candidates">
              <div class="space-10"></div>
              <h3>Candidates you requested
              <small class="text-muted">
                <% if @requested_candidates.any? %>
                  <%= pluralize(@requested_candidates.count, 'candidate') %>
                <% else %>
                  <%= 'No requested candidates to show' %>
                <% end %>
              </small>
              </h3>
              <div class="space-10"></div>

              <div style="min-height: 400px;">
                <% if @requested_candidates.any? %>
                  <% @requested_candidates.each do |candidate| %>
                    <%= render :partial => 'follows/follow', locals: { person: Person.find(candidate.followable_id) } %>
                  <% end %>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
