<div class="row">
  <div class="col-4 col-sm-4 col-md-4">
    <article>
      <div class="clearfix">
        <div class="container-fluid">
          <% if @account_manager %>
            <%= render partial: 'small_card', object: @account_manager %>
          <% else %>
            <%= render partial: 'small_card_template' %>
          <% end %>
        </div>
      </div>
    </article>
  </div>
  <div class="col-8 col-sm-8 col-md-8">
    <article>
        <div class="papel-right clearfix">
          <div class="">
              <% if @user.role == 'guest' && @user.signuprole == 'employer' %>
                <%= render "employer_dashboard" %>
              <% end %>

              <% if @user.role == 'employer' && @user.signuprole == 'employer' %>
                <%= render "employer_dashboard" %>
              <% end %>

              <% if @user.role == 'guest' && @user.signuprole == 'talent' %>
                <%= render "job_seeker_dashboard" %>
              <% end %>

              <% if @user.role == 'member' && @user.signuprole == 'talent' %>
                <%= render "job_seeker_dashboard" %>
              <% end %>

              <% if @user.role == 'guest' && @user.signuprole == 'recruiter' %>
                <%= render "job_seeker_dashboard" %>
              <% end %>

              <% if @user.role == 'member' && @user.signuprole == 'recruiter' %>
                <%= render "member_dashboard" %>
              <% end %>

              <% if @user.role == 'member' %>
                <%= render "member_dashboard" %>
              <% end %>

              <% if @user.role == 'recruiter' %>
                <%= render "member_dashboard" %>
              <% end %>

              <% if @user.role == 'admin' %>
              <%= render "admin_dashboard" %>
              <% end %>
          </div>
        </div>
      </div>
    </article>
  </div>
