<article>
  <div class="row">
  <div class="col-4 col-sm-4 col-md-4">
      <div class="clearfix">
        <div class="container-fluid">
          <% if @account_manager %>
            <%= render partial: 'small_card', object: @account_manager %>
          <% else %>
            <%= render partial: 'users/small_card_template' %>
          <% end %>
        </div>
      </div>
  </div>
  <div class="col-8 col-sm-8 col-md-8">
        <div class="papel-right clearfix">
          <div class="container-fluid">
              <% if current_user && current_user.signuprole == 'talent' %>
                <%= render 'job_seeker_dashboard' %>
              <% elsif current_user && current_user.signuprole == 'recruiter' %>
                <%= render 'recruiter_dashboard' %>
              <% elsif current_user && current_user.signuprole == 'employer' %>
                <%= render 'employer_dashboard' %>
              <% elsif current_user && current_user.role == 'admin' %>
                <%= render 'admin_dashboard' %>
              <% elsif current_user && current_user.role == 'member' %>
                <%= render 'member_dashboard' %>
              <% elsif current_user && current_user.role == 'guest' %>
                <%= render 'job_seeker_dashboard' %>
              <% else %>
                <%= render 'job_seeker_dashboard' %>
              <% end %>
          </div>
        </div>
<<<<<<< HEAD
=======
      </article>
>>>>>>> d043a64b3d6fd9342e2ce864dfdbfd5bcec4e82b
    </div>
  </div>
</article>
