<%= content_tag :div, class: 'media' do %>
  <div class="media">
    <div class="media-body">
<<<<<<< HEAD
      <p class="search">
        <small>
          Searched
        </small>
          <%= search.keyword if search.keyword.present? %>
          <%= search.locations if search.locations.present? %>
          <%= search.employers if search.employers.present? %>
          <%= search.titles if search.titles.present? %>
          <%= search.schools if search.schools.present? %>
          <%= search.degrees if search.degrees.present? %>
          <%= search.disciplines if search.disciplines.present? %>
          <%= search.names if search.names.present? %>
        <small>
          <%= time_ago_in_words(search.created_at) %> ago.
          <%= link_to "Search again", search %>
          <% if current_user == search.user %>
            &nbsp;or <%= link_to "delete.", search_path(search), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </small>
=======
      <small>
        <%= search.user.email %> searched <%= time_ago_in_words(search.created_at) %> ago.
        <%= link_to "Search again", search, target: :_blank %>
        <% if current_user == search.user %>
          <%= link_to "or delete.", search_path(search), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </small>
      <p class="search">
        <%= search.keyword if search.keyword.present? %>
        <%= search.locations if search.locations.present? %>
        <%= search.employers if search.employers.present? %>
        <%= search.titles if search.titles.present? %>
        <%= search.schools if search.schools.present? %>
        <%= search.degrees if search.degrees.present? %>
        <%= search.disciplines if search.disciplines.present? %>
        <%= search.names if search.names.present? %>
>>>>>>> d043a64b3d6fd9342e2ce864dfdbfd5bcec4e82b
      </p>
    </div>
  </div>
<% end %>
